annotated-doc
annotated-types
anyio
click
colorama
fastapi
h11
httpcore2
httpx2
idna
iniconfig
packaging
pluggy
pydantic
pydantic_core
Pygments
pytest
sniffio
starlette
truststore
typing-inspection
typing_extensions
uvicorn
